<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>AWS APP PSOIR LAB</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
          integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous"></link>
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" href="../static/css/font-awesome.min.css"></link>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../static/css/style.css"
          th:href="@{/css/style.css}" rel="stylesheet" media="screen"></link>
    <script th:src="@{/js/additionalScripts.js}"></script>

</head>


<body onload="checkboxes()">
<div class="container-fluid">
    <br></br><br></br>
</div>
<div class="container">
    <form id="form2" action="perform_action" method="get">
        <div class="row">
            <div class="col-7">
                <h3>
                    Gallery
                    <small class="text-muted" >your all pictures </small>
                </h3>
            </div>
            <div class="col-3">

                <select name="operation" class="form-control" id="exampleFormControlSelect1">
                    <option>Grayscale</option>
                    <option>Rotate 90</option>
                    <option>Rotate 180</option>
                    <option>Rotate 270</option>
                </select>
            </div>
            <div class="col-2">
                <button type="button" onclick="operationBtnAction()" class="btn btn-primary">
                    Process Selected <span class="badge badge-light" id="selectedBadge">0</span>
                    <span class="sr-only">unread messages</span>

                </button>
            </div>
        </div>
        <input id="checkedImages" type="hidden" name="checkedImages" value="-"></input>
    </form>
        <br></br><br></br>



        <div class="row">
            <div class="col-3 text-center" th:each="image : ${images}" >
                <figure class="figure" style="position:relative;width:100%;">
                    <label style="margin:0px;">
                        <input style="display:block;position:absolute;top:10px;left:10px;" type="checkbox" th:id="${image.fileName}" id="l" onClick="checkboxes();"></input>
                        <img th:src="${image.src}" src="../static/img/sample.jpg" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure."></img>
                    </label>
                    <div class="image-controls"><a th:href="${image.src}" href="www.google.pl"><i class="fa fa-download" aria-hidden="true"></i></a><a th:href="${server_url}+'/?delete='+${image.fileName}" href="www.google.pl"><i class="fa fa-trash" aria-hidden="true"></i></a></div><figcaption class="figure-caption text-right" th:text="${image.fileName}" style="margin-right:10px">sample.jpg</figcaption>
                </figure>
            </div>
        </div>
</div>
<form action="http://photo-files-psoir-bucket.s3.amazonaws.com/" method="post" enctype="multipart/form-data">
    <div th:each="input : ${form_inputs}">
        <input th:type="${input.type}" th:name="${input.name}" th:value="${input.value}"/>
    </div>

    <input type="file" id="upload" onchange="this.form.submit();" name="file" style="visibility: hidden; width: 1px; height: 1px" />
    <a href="#" class="float" onclick="document.getElementById('upload').click(); return false">
        <i class="fa fa-upload my-float"></i>
    </a>
    <div class="label-container">
        <div class="label-text">Upload image</div>
        <i class="fa fa-play label-arrow"></i>
    </div>
</form>

</body>
</html>
