<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>AWS APP PSOIR LAB</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
    integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous"></link>
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" href="../static/css/font-awesome.min.css"></link>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../static/css/style.css"
          th:href="@{/css/style.css}" rel="stylesheet" media="screen"></link>
    <script th:src="@{/js/additionalScripts.js}"></script>

</head>


<body>
  <div class="container-fluid">
      <br></br><br></br>
  </div>
<div class="container">


    <h4 class="alert-heading"><i class="fa fa-tasks" aria-hidden="true"> </i> Your task is added to queue!</h4><br></br>
        <h6 class="alert-heading"><i class="fa fa-info-circle" aria-hidden="true"> </i>Task Details:</h6>

    <div style="padding-left:10px;font-size:14px;">
        <table>
            <tr><td><p class="font-weight-normal">Bucket name: </p></td><td><span class="font-weight-light" th:text="${bucket_name}">photo-files-psoir-bucket</span></td></tr>
            <tr><td><p class="font-weight-normal">Number of items: </p></td><td><span class="font-weight-light" th:text="${listSize}">15</span></td></tr>
            <tr><td><p class="font-weight-normal">Operation: </p></td><td><span class="font-weight-light" th:text="${operation}">Grayscale</span></td></tr>
            <tr><td><p class="font-weight-normal">SQS Url: </p></td><td><span class="font-weight-light" th:text="${sqs_url}">url</span></td></tr>
        </table>
        <a href="http://localhost:8080" th:href="${mainpage_url}" class="btn btn-primary" style="margin-top:10px;">
            Back to gallery
        </a>
    </div>


</div>

</body>
</html>
