<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>AWS APP PSOIR LAB</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
    integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous"></link>
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" href="../static/css/font-awesome.min.css"></link>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../static/css/style.css"
          th:href="@{/css/style.css}" rel="stylesheet" media="screen"></link>
    <script th:src="@{/js/additionalScripts.js}"></script>

</head>


<body>
  <div class="container-fluid">
      <br></br><br></br>
  </div>
<div class="container">

    <div class="alert alert-success" role="alert">
      <h4 class="alert-heading">Upload successfully completed!</h4>
        <p>Your photo <b>"<span th:text="${file_name}">file_name</span></b> was succesfully stored on S3 server.<br></br> You can find mentioned file in bucket: <b><span th:text="${bucket}">bucket_name</span></b></p>
      <hr></hr>
      <p class="mb-0">If you want to come back to gallery <a href="/">click here.</a> </p>
    </div>

</div>

</body>
</html>
